#intro{
    height:100%;
    width: 40%;
    padding: 4em 0;
}
#project{
    width:100%;
    height:100%;
    text-align: center;
    background : #99aeff;
}

@media screen and (max-width: 700px) {
    .personal {
        width : 100%;
        position: relative;
        height: 250px;
        width: 250px;
        align:center;
        padding: auto;
        float: none !important;
    }
}
